
body{
    background-color: #6d72fe;
    font-family: 'Pixelify Sans', sans-serif;
}


#box{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    background-color: #8a8eff;
    border-radius: 110px 110px 110px 110px;
}

.tastoPiu{
    text-align: end;
}

#colCerchio{
    text-align: center;
    display: flex;
    justify-content: center; 
}

button{
    font-size: 280%;
    color: #A0A3FF;
    background: transparent;
    border-color: transparent;
    font-weight: bold;
}

button:hover{
    color: aliceblue;
}


#counter{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-size: 350%;
    color: #6d72fe;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

#colTasto{
    display: flex;
    justify-content: center; 
}

#colBox{
    height: 100vh;
    display: flex;
    align-items: center;
}





